{% extends 'base.html' %}
{% load static %}
<title>{% block title %}SM- About{% endblock %}</title>
{% block body %}

<section class="blog-sec space pb-0">
  <div class="container">
    <div class="blog-sec-innr">
      <div class="row">
        <div class="col-lg-6">
          <div class="blog-content">
            <h1>Who we are</h1>
            <p>Built on Legacy, Driven by Vision</p>
            <p style="color:grey;font-size: 12px;"><a href="https://smrealestate.ae/" style="color:grey;">Home</a> &gt; Who we are</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-sec tp-space">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-5 col-md-6 col-sm-6">
				<div class="about-lft-img">
					<img src="{% static 'assets/images/about-img-01.png' %}" alt="" style="width: 100%;height: 348px; margin-top: -10px;
    object-fit: cover;">
				</div>
			</div>
			<div class="col-lg-7 col-md-6 col-sm-6">
				<!--{% for x in about %}
				<p class="mb-5">{{x.description}}</p>
				{% endfor %}-->
				<p>Super Moda Real Estate was founded with a simple yet powerful goal: to redefine how real estate is experienced in Dubai. Backed by a legacy of entrepreneurial excellence in the textile industry, we bring a deep-rooted understanding of long-term value, integrity, and growth into the fast-paced world of property.
<br><br>
At our core, we are a boutique agency with a bold spirit — blending personalized service with market intelligence to guide our clients toward the right investment, the right home, and the right future.
<br><br>
We are more than agents. We are advisors, connectors, and curators of spaces that hold meaning and potential. Whether you're buying, selling, renting, or investing, we stand beside you every step of the way with care, clarity, and confidence.
</p>
				<!--<a href="/contact/" class="thm-btn">Inquiry Now</a>-->
			</div>
			<div class="col-lg-12 about-count">
				<ul class="row g-2 justify-content-center">
					<li class="col-lg-3 col-md-3 col-sm-4 col-6">
						<div class="about-count-innr">
							<h4 class="text-white"><span class="counter">{{agents|length}}</span> +</h4>
							<p>AGENTS</p>
						</div>
					</li>
					<li class="col-lg-3 col-md-3 col-sm-4 col-6">
						<div class="about-count-innr">
							<h4 class="text-white"><span class="counter">{{properties|length}}</span> +</h4>
							<p>PROPERTIES</p>
						</div>
					</li>
					<li class="col-lg-3 col-md-3 col-sm-4 col-6">
						<div class="about-count-innr">
							<h4 class="text-white"><span class="counter">100</span> +</h4>
							<p>LANGUAGES</p>
						</div>
					</li>
					<li class="col-lg-3 col-md-3 col-sm-4 col-6">
						<div class="about-count-innr">
							<h4 class="text-white"><span class="counter">{{review|length}}</span> +</h4>
							<p>REVIEW</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
			
			<!--<div class="col-lg-5 d-xl-block d-none">
				<div class="about-rgt-img">
					<img src="{% static 'assets/images/about-img-02.png' %}" alt="" class="img-fluid">
					<img src="{% static 'assets/images/about-img-03.png' %}" alt="" class="border-img img-fluid">
				</div>
			</div>-->
	</div>
</section>
    <section class="service-sec tp-space">
        <div class="container">
           
            <div class="service-bnnr">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 pe-lg-0 pe-xl-0">
                        <div class="service-bnnr-img">
                            <img src="{% static 'assets/images/service-bnnr-01.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-bnnr-cntnt">
                            <h4>Our Vision</h4>
							<p>To be recognized as Dubai’s most trusted boutique real estate agency, known for creating meaningful client relationships, delivering unmatched market insight, and helping every client build a lifestyle and legacy through property.
</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-bnnr">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-bnnr-cntnt">
							<h4>Our Mission</h4>
							<p>
To simplify and elevate the real estate journey by offering expert guidance, personalized service, and long-term value. </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 ps-lg-0 ps-xl-0">
                        <div class="service-bnnr-img">
                            <img src="{% static 'assets/images/service-bnnr-02.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
			 <h3 class="srvc-head text-center" style="Margin-top:50px; margin-bottom: 25px;">Our Services</h3>
            <div class="service-bnnr">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 pe-lg-0 pe-xl-0">
                        <div class="service-bnnr-img">
                            <img src="{% static 'assets/images/service-bnnr-03.png' %}" alt="">
                        </div>
                    </div>
					
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-bnnr-cntnt">
							<h4>Property Sales (Secondary Market)</h4>
							<p>

We help clients buy and sell ready-to-move-in properties across Dubai’s most sought-after communities. Our deep understanding of the market ensures every transaction is strategic, smooth, and rewarding.</p>
                        </div>
                    </div>
                </div>
            </div>
			<div class="service-bnnr">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="service-bnnr-cntnt">
							<h4>Off-Plan Investments</h4>
							<p>
From early-stage launches to exclusive allocations, we assist investors in securing high-potential properties directly from Dubai’s top developers — offering tailored advice based on budget, ROI, and future goals.
</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 ps-lg-0 ps-xl-0">
						<div class="service-bnnr-img">
							<img src="{% static 'assets/images/service-bnnr-02.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="service-bnnr">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 pe-lg-0 pe-xl-0">
						<div class="service-bnnr-img">
							<img src="{% static 'assets/images/service-bnnr-03.png' %}" alt="">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="service-bnnr-cntnt">
							<h4>Luxury Rentals</h4>
							<p>
We match high-quality tenants with premium rental properties. Whether you’re relocating or upgrading, our rental experts ensure a seamless, end-to-end leasing experience.</p>
							</div>
					</div>
				</div>
			
			</div>
			<div class="service-bnnr">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="service-bnnr-cntnt">
							<h4>Real Estate Advisory</h4>
							<p>

We offer personalized consultation services to guide first-time buyers, seasoned investors, and property owners on the best real estate decisions — from market entry to portfolio management.</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 ps-lg-0 ps-xl-0">
						<div class="service-bnnr-img">
							<img src="{% static 'assets/images/service-bnnr-02.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="service-bnnr">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 pe-lg-0 pe-xl-0">
						<div class="service-bnnr-img">
							<img src="{% static 'assets/images/service-bnnr-03.png' %}" alt="">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="service-bnnr-cntnt">
							<h4>Marketing & Listing Support</h4>
							<p>With professional photography, videography, and listing strategy, we present your property in its best light. Our in-house creative team ensures maximum visibility and interest, across all major platforms.
</p>	</div>
					</div>
				</div>
			
			</div>
        </div>
    </section>

{% endblock body %}