{% extends 'base.html' %}
{% load static %}
<title>{% block title %}SM- Contact{% endblock %}</title>
{% block body %}

<section class="blog-sec space">
  <div class="container">
    <div class="blog-sec-innr" style="background-image: url('{% static 'assets/images/ct-contact.png' %}');">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="blog-content">
            <!--<h1>Hello </h1>-->
            <h5 class="fz-20 text-white fw-600">HOW CAN WE HELP YOU?</h5>
		    <p>Our dedicated team is ready to assist you in discovering the extraordinary in real estate. Whether you have inquiries about available properties, want to discuss personalized solutions, or simply wish to embark on a conversation about your real estate needs, we look forward to hearing from you.			</p>
			<p>At Super Moda Real Estate, we're committed to turning your property aspirations into a reality. Contact us today and let the journey begin!</p>
            <!-- <a href="/web/20250209230732/https://smrealestate.ae/agents_contact/" class="thm-btn mt-4">Get in Touch</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% endblock body %}