{% extends 'base.html' %}
{% load static %}
<title>{% block title %}SM- Contact{% endblock %}</title>
{% block body %}
<section class="blog-sec space">
  <div class="container">
    <div class="blog-sec-innr" style="background-image: url('{% static 'assets/images/ct-contact.png' %}');">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="blog-content">
            <!--<h1>Hello </h1>-->
            <h5 class="fz-20 text-white fw-600">HOW CAN WE HELP YOU?</h5>
		    <p>Our dedicated team is ready to assist you in discovering the extraordinary in real estate. Whether you have inquiries about available properties, want to discuss personalized solutions, or simply wish to embark on a conversation about your real estate needs, we look forward to hearing from you.			</p>
			<p>At Super Moda Real Estate, we're committed to turning your property aspirations into a reality. Contact us today and let the journey begin!</p>
            <!-- <a href="/web/20250209230732/https://smrealestate.ae/agents_contact/" class="thm-btn mt-4">Get in Touch</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-sec tp-space">
  <div class="container">
   <div class="row justify-content-center">
       <div class="col-lg-8 col-md-4 col-sm-12">
            <div class="heading new-head">
      <div class="heading-icon">
        <img src="{% static 'assets/images/heading-icon.png' %}" alt="">
      </div>
      <div class="heading-content">
        <h3>Contact Us</h3>
		<p>Feel free to reach out to us anytime! At Super Moda Real Estate, we not only specialize in finding the perfect investment properties but also in creating spaces that truly feel like home. We value open communication and are eager to assist you on your real estate journey. Whether you have inquiries about potential investments, want to provide feedback on your home search, or simply need support, our dedicated team is here for you. Connect with us via the contact form below or reach out directly through email or phone. Your satisfaction is our priority, and we look forward to making your experience with Super Moda Real Estate seamless, enjoyable, and ultimately, a place you're proud to call home. Thank you for considering us as your trusted partner in real estate.</p>
      </div>
    </div>
       </div>
   </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="contact-innr p-20">
          <span class="fal fa-envelope"></span>
          <h5 class="fz-20 fw-600 font-2 text-white">E-Mail</h5>
		  <a href="mailto:info@modarealestate.ae">info@modarealestate.ae</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="contact-innr p-20">
          <span class="far fa-mobile"></span>
          <h5 class="fz-20 fw-600 font-2 text-white">Mobile Number</h5>
		  <a href="tel:042563962">042563962</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="contact-innr p-20 border-0">
          <span class="far fa-map-marker-alt"></span>
          <h5 class="fz-20 fw-600 font-2 text-white">Address</h5>
		  <a href="javascript:void(0);">Office 104,1st Floor, Sobha Sapphire, Business Bay, Dubai</a>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock body %}