{% extends 'base.html' %}
{% load static %}
title>{% block title %}SM- Favorite-Blank{% endblock %}</title>
{% block body %}
		<section class="product-sec space favorite-sec">
			<div class="container">
				<h3 class="subhead d-flex justify-content-center text-white">Your Favorite</h3>
				<div class="row justify-content-center">
					<div class="col-lg-4 text-center blank">
						<img src="{% static 'assets/images/favorite_blank.png' %}" alt="" class="img-fluid">
						<h5 class="text-center text-white">You haven't added listings to your favorite yet, click on the to add a listing</h5>
					</div>
				</div>
			</div>
		</section>
		<section class="cta-sec tp-space">
			<div class="container">
				<div class="heading new-head">
					<div class="heading-icon">
						<img src="{% static 'assets/images/heading-icon.png' %}" alt="">
					</div>
					<div class="heading-content">
						<h3>Advisory Experts</h3>
						<p>Fill form below and our agent will contact you shortly</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="cta-innr">
							<form action="/contact/" method = "post" class="row" id="contact-form">
								{% csrf_token %}
								<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
								  <input type="text" name="name" class="form-control" placeholder="Enter Name">
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
								  <input type="number" name="phone" class="form-control" placeholder="Enter Phone Number">
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
								  <input type="email" name="email" class="form-control" placeholder="Enter Email Adderss">
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
								  <button class="thm-btn w-75" type="submit">Send</button>
								</div>
							  </form>
							<div class="row justify-content-center">
								<div class="col-lg-4">
									<div class="product-social">
										<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
										<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
										<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% endblock body %}