{% extends 'base.html' %}
{% load static %}

	<title>{% block title %}Real Estate Company in Dubai | Buy, Sell or Rent property in Dubai | SM Real Estate{% endblock %}</title>
	    
    <meta name="description" content="Real Estate company in Dubai offering luxury living spaces with exceptional service. Buy, sell, or rent with us for a seamless real estate experience.">
    <link rel="canonical" href="https://smrealestate.ae/">
    
    <meta property="og:url" content="https://smrealestate.ae/">
    <meta property="og:title" content="Real Estate Company in Dubai | Buy, Sell or Rent property in Dubai | SM Real Estate">
    <meta property="og:type" content="website">
    <meta property="og:description" content="SM Real Estate offers a luxurious real estate experience in Dubai. We create living spaces that are both beautiful and functional; we are providing exceptional service throughout the buying, selling, or renting process.">
    <meta property="og:site_name" content="Real Estate Company in Dubai | Buy, Sell or Rent property in Dubai | SM Real Estate">
    <meta property="og:image" content="https://smrealestate.ae/media/aamohan/images/logo.png">
    <meta property="og:image:secure_url" content="https://smrealestate.ae/media/aamohan/images/logo.png">
    <meta property="og:image:width" content="194">
    <meta property="og:image:height" content="50">
    <meta property="og:image:type" content="image/png">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Real Estate Company in Dubai | Buy, Sell or Rent property in Dubai | SM Real Estate">
    <meta name="twitter:description" content="SM Real Estate offers a luxurious real estate experience in Dubai. We create living spaces that are both beautiful and functional; we are providing exceptional service throughout the buying, selling, or renting process.">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "SM Real Estate",
      "url": "https://smrealestate.ae/en/" 
    }
    </script>
{% block body %}



<section class="bannr-home">
  	<div class="banner">
	
		<div class="banner-content">
			<h1 style="color:black;">Real Estate Made Real Easy</h1>
		  
			<div class="tabs" style="position: relative; margin-bottom: -45px;">
			  <button type="button" class="tab" data-type="sell" onclick="selectTab(this)">
				<i class="fa fa-home new_icon_size"></i><br>Sell<br>Properties
			  </button>
			  <button type="button" class="tab" data-type="rent" onclick="selectTab(this)">
				<i class="fa fa-bed new_icon_size"></i><br>Rent<br>Properties
			  </button>
			  <button type="button" class="tab" data-type="plot" onclick="selectTab(this)">
				<i class="fas fa-dollar-sign new_icon_size"></i><br>Off Plan<br>Properties
			  </button>
			  <button type="button" class="tab" data-type="commercial" onclick="selectTab(this)">
				<i class="fas fa-building new_icon_size"></i><br>Commercial<br>Properties
			  </button>
			</div>
		  
			<form id="searchForm" method="get" action="/property_search/None/">
  <input type="hidden" name="selected_type" id="selected_type" value="None">

  <div class="search-bar" style="padding: 60px 20px 20px; background: #242b34c9; border-radius:13px;">
    
    <div style="justify-content: center;display: flex;width: 100%;max-width: 900px;margin: auto;">
      
      <input type="text" name="location" id="location"
        placeholder='Search by Location "Downtown"'
        style="flex: 2; border: 1px solid black; border-right: none; border-radius: 10px 0 0 10px; padding: 10px;">
      
      <select name="budget_range" id="budget_range"
        style="flex: 1; border: 1px solid black; border-left: none; border-right: none; padding: 10px;">
        <option value="" disabled selected>Budget Range</option>
        <option value="0-1000000">Up to 1M (AED)</option>
        <option value="1000000-7000000">1M - 7M (AED)</option>
        <option value="7000000-None">7M+ (AED)</option>
      </select>
      
      <button class="btn thm-btn" type="submit"
        style="margin:0;flex: 0.8; font-size: 15px; border: 1px solid black; border-left: none; border-radius: 0 10px 10px 0; background-color: #c69f6c; color: white; padding: 10px;">
        <i class="fa fa-search"></i> Search
      </button>
    
    </div>
  </div>
</form>
		  </div>
		  
		  <script>
			function selectTab(button) {
			  // Remove active style from siblings
			  document.querySelectorAll(".tabs .tab").forEach(t => t.classList.remove("active"));
			  button.classList.add("active");
		  
			  // Update hidden field and form action
			  const type = button.getAttribute("data-type");
			  document.getElementById("selected_type").value = type;
			  document.getElementById("searchForm").action = `/property_search/${type}/`;
			}
		  
			// Optional: set default active tab
			selectTab(document.querySelector(".tabs .tab[data-type='buy']"));
		  </script>
    </div>
</section> {% endcomment %}
<section class="product-sec off-plan tp-space">
	<div class="container">
		<div class="heading justify-content-between align-items-center prohead mb-3">
			<div class="heading-content">
				<h3>Off plan Latest Launches</h3>
			</div>
			<div class="heading-icon">
				<a href="/off_plane/" class="thm-btn">Show all Project</a>
			</div>
		</div>
		<div class="row">
			{% for x in  off_plane|slice:":4" %}
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="product-innr">
					<div class="product-img">
						<a href="/off_plan/{{x.locations}}/{{x.name}}/{{x.pk}}/"><img src="{{x.images.url}}" alt=""></a>
					</div>
					<div class="off-plan-content">
						<h5><a href="/off_plan/{{x.locations}}/{{x.name}}/{{x.pk}}/">{{x.name}}</a></h5>
						<p>
							<a href="/off_plan/{{x.locations}}/">
								<i class="fas fa-map-marker-alt me-1"></i>{{x.locations}}</a></p>
					</div>
					<!-- <div class="off-plan-badge">
						<a href="/apartment_properties/">Apartments</a>
						<a href="/panthouse_properties/">Penthouses</a>
						<a href="/villa_properties/">Villas</a>
					</div> -->
					<div class="product-type">
						<span href="#" class="white product-badge">{{x.payment_plan}}</span>
						<span href="#" class="white product-badge">Handover {{x.handover}}</span>
					</div>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</section>
<section class="product-sec secondary-pro tp-space">
<div class="container">
	<div class="heading justify-content-between align-items-center prohead  mb-3">
			<div class="heading-content">
				<h3> Secondary properties</h3>
			</div>
			<div class="heading-icon">
				<a href="/properties/" class="thm-btn">Show all Project</a>
			</div>
		</div>
		<div class="row">
		    {% for x in secondary|slice:":4" %}
			{% if x.status == 1 %}
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
				<div class="product-innr">
					<div class="product-img">

						<a href="properties_details/{{x.pk}}" {% if x.display_images %}><img src="{{x.display_images.url}}" alt="">{% endif %}</a>
					
					</div>
					<div class="product-content">
						
						
						
						<h3 class="product-price"><span>{{x.rate}}</span> <span>AED</span></h3>
						
						<div class="product-amenties">
							<span>
								<i class="fal fa-bed me-1"></i>{{x.bedroom}}</span>
							<span>
								<i class="fas fa-bath me-1"></i>{{x.bathroom}}</span>
							<span>
								<i class="fal fa-ruler-triangle me-1"></i>{{x.total_area}} Sq. Ft.</span>
						</div>
						<h4><a href="properties_details/{{x.pk}}">{{x.title|slice:":25"}}....</a></h4>
						<p>
							<i class="fas fa-map-marker-alt me-1"></i>{{x.property_location|slice:":20"}}..</p>
					</div>
					<div class="property-agent">
						<div class="property-agent-img">
							<a href="#">
							<img src="{{x.assign_agents.photo.url}}" alt="">
							</a>
						</div>
						<div class="property-agent-info">
							<h6>{{x.assign_agents.name}}</h6>
							<p>{{x.assign_agents.position}}</p>
						</div>
						<div class="property-agent-whatsapp">
							<a href="https://wa.me/{{x.assign_agents.whatsapp_number}}">
								<i class="fab fa-whatsapp"></i></a>
						</div>
					</div>
					<div class="product-type">
						<a href="#" class="golden product-badge">{{x.rent}}</a>
						<a href="#" class="dark product-badge">{{x.property_type}}</a>
					</div>
					<div class="favorite-icon">
						<a href="javascript:void(0);"  class="favorite-button golden" data-product-id= "{{x.pk}}" >
							<i class="far fa-bookmark"></i></a>
						<a href="javascript:void(0);"  class="comprassion-button dark" data-product-id="{{x.pk}}">
							<i class="fas fa-sliders-h"></i></a>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
</div>
</section>
<section class="product-sec tp-space">
	<div class="container">
		<div class="heading justify-content-between align-items-center prohead  mb-3">
			<div class="heading-content">
				<h3>rental  properties</h3>
			</div>
			<div class="heading-icon">
				<a href="/properties/" class="thm-btn">Show all Project</a>
			</div>
			
		</div>
		<div class="row">

			{% for x in rental|slice:":4" %}
			{% if x.status == 1 %}
			
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
				<div class="product-innr">
					<div class="product-img">
						<a href="properties_details/{{x.pk}}"><img src="{{x.display_images.url}}" alt=""></a>
					</div>
					<div class="product-content">
						<h3 class="product-price"><span>{{x.rate}}</span> <span>AED</span></h3>
						<div class="product-amenties">
							<span>
								<i class="fal fa-bed me-1"></i> {{x.bedroom}}</span>
							<span>
								<i class="fas fa-bath me-1"></i>{{x.bathroom}}</span>
							<span>
								<i class="fal fa-ruler-triangle me-1"></i>{{x.total_area}} Sq. Ft.</span>
						</div>
						<h4><a href="properties_details/{{x.pk}}">{{x.title|slice:":25"}}....</a></h4>
						<p>
							<i class="fas fa-map-marker-alt me-1"></i>{{x.property_location|slice:":20"}}..</p>
					</div>
					<div class="property-agent">
						<div class="property-agent-img">
							<a href="#">
							<img src="{{x.assign_agents.photo.url}}" alt="">
							</a>
						</div>
						<div class="property-agent-info">
							<h6>{{x.assign_agents.name}}</h6>
							<p>{{x.assign_agents.position}}</p>
						</div>
						<div class="property-agent-whatsapp">
							<a href="https://wa.me/{{x.assign_agents.whatsapp_number}}">
								<i class="fab fa-whatsapp"></i></a>
						</div>
					</div>
					<div class="product-type">
						<a href="#" class="golden product-badge">{{x.rent}}</a>
						<a href="#" class="dark product-badge">{{x.property_type}}</a>
					</div>
					<div class="favorite-icon">
						<a href="javascript:void(0);"  class="favorite-button golden" data-product-id= "{{x.pk}}" >
							<i class="far fa-bookmark"></i></a>
						<a href="javascript:void(0);"  class="comprassion-button dark" data-product-id="{{x.pk}}">
							<i class="fas fa-sliders-h"></i></a>
					</div>
				</div>
			</div>
			
			{% endif %}
			{% endfor %}

			<!--<div class="col-lg-12 text-center">
				<a href="/panthouse_properties/" class="thm-btn mt-5">View All</a>
			</div>-->
		</div>
		
			<!--<div class="col-lg-12">
				<ul class="nav product-tabs" id="myTab" role="tablist">
					<li class="nav-item" >
						<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-01">Penthouses</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" data-bs-toggle="tab"  data-bs-target="#tab-02">Apartments</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-03">Townhouses</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-04">Villas</button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane active" id="tab-01">
						
					</div>

					<div class="tab-pane fade show  " id="tab-02">
						<div class="row">

							{% for x in properties %}
							{% if x.status == 1 %}
							{% if x.property_type == "Apartments" %}
							<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
								<div class="product-innr">
									<div class="product-img">
										<a href="properties_details/{{x.pk}}"><img src="{{x.photo.url}}" alt=""></a>
									</div>
									<div class="product-content">
										<h3 class="product-price"><span>{{x.rate}}</span> <span>AED</span></h3>
										<div class="product-amenties">
											<span>
												<i class="fal fa-bed me-1"></i>{{x.bedroom}}</span>
											<span>
												<i class="fas fa-bath me-1"></i>{{x.bathroom}}</span>
											<span>
												<i class="fal fa-ruler-triangle me-1"></i>{{x.total_area}} Sq. Ft.</span>
										</div>
										<h4><a href="properties_details/{{x.pk}}">{{x.title|slice:":35"}}....</a></h4>
										<p>
											<i class="fas fa-map-marker-alt me-1"></i> {{x.property_location|slice:":20"}}..</p>
									</div>
									<div class="property-agent">
										<div class="property-agent-img">
											<a href="#">
											<img src="{{x.assign_agents.photo.url}}" alt="">
											</a>
										</div>
										<div class="property-agent-info">
											<h6>{{x.assign_agents.name}}</h6>
											<p>{{x.assign_agents.position}}</p>
										</div>
										<div class="property-agent-whatsapp">
											<a href="https://wa.me/{{x.assign_agents.whatsapp_number}}">
												<i class="fab fa-whatsapp"></i></a>
										</div>
									</div>
									<div class="product-type">
										<a href="#" class="golden product-badge">{{x.rent}}</a>
										<a href="#" class="dark product-badge">{{x.property_type}}</a>
									</div>
									<div class="favorite-icon">
										<a href="javascript:void(0);"  class="favorite-button" data-product-id= "{{x.pk}}" >
											<i class="far fa-bookmark"></i></a>
										<a href="javascript:void(0);"  class="comprassion-button" data-product-id="{{x.pk}}">
											<i class="fas fa-sliders-h"></i></a>
									</div>
								</div>
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}
							<div class="col-lg-12 text-center">
								<a href="apartment_properties" class="thm-btn mt-5">View All</a>
							</div>
						</div>
					</div>


					<div class="tab-pane fade" id="tab-03">
						<div class="row">

							{% for x in properties %}
							{% if x.status == 1 %}
							{% if x.property_type == "Townhouses" %}
							<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
								<div class="product-innr">
									<div class="product-img">
										<a href="properties_details/{{x.pk}}"><img src="{{x.photo.url}}" alt=""></a>
									</div>
									<div class="product-content">
										<h3 class="product-price"><span>{{x.rate}}</span> <span>AED</span></h3>
										<div class="product-amenties">
											<span>
												<i class="fal fa-bed me-1"></i>{{x.bedroom}}</span>
											<span>
												<i class="fas fa-bath me-1"></i>{{x.bathroom}}</span>
											<span>
												<i class="fal fa-ruler-triangle me-1"></i>{{x.total_area}} Sq. Ft.</span>
										</div>
										<h4><a href="properties_details/{{x.pk}}">{{x.title|slice:":35"}}....</a></h4>
										<p>
											<i class="fas fa-map-marker-alt me-1"></i> {{x.property_location|slice:":20"}}..</p>
									</div>
									<div class="property-agent">
										<div class="property-agent-img">
											<a href="#">
											<img src="{{x.assign_agents.photo.url}}" alt="">
											</a>
										</div>
										<div class="property-agent-info">
											<h6>{{x.assign_agents.name}}</h6>
											<p>{{x.assign_agents.position}}</p>
										</div>
										<div class="property-agent-whatsapp">
											<a href="https://wa.me/{{x.assign_agents.whatsapp_number}}">
												<i class="fab fa-whatsapp"></i></a>
										</div>
									</div>
									<div class="product-type">
										<a href="#" class="golden product-badge">{{x.rent}}</a>
										<a href="#" class="dark product-badge">{{x.property_type}}</a>
									</div>
									<div class="favorite-icon">
										<a href="javascript:void(0);"  class="favorite-button" data-product-id= "{{x.pk}}" >
											<i class="far fa-bookmark"></i></a>
										<a href="javascript:void(0);"  class="comprassion-button" data-product-id="{{x.pk}}">
											<i class="fas fa-sliders-h"></i></a>
									</div>
								</div>
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}
							<div class="col-lg-12 text-center">
								<a href="townhouse_properties" class="thm-btn mt-5">View All</a>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="tab-04">
						<div class="row">

							{% for x in properties %}
							{% if x.status == 1 %}
							{% if x.property_type == "villa" %}
							<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
								<div class="product-innr">
									<div class="product-img">
										<a href="properties_details/{{x.pk}}"><img src="{{x.photo.url}}" alt=""></a>
									</div>
									<div class="product-content">
										<h3 class="product-price"><span>{{x.rate}}</span> <span>AED</span></h3>
										<div class="product-amenties">
											<span>
												<i class="fal fa-bed me-1"></i>{{x.bedroom}}</span>
											<span>
												<i class="fas fa-bath me-1"></i>{{x.bathroom}}</span>
											<span>
												<i class="fal fa-ruler-triangle me-1"></i>{{x.total_area}} Sq. Ft.</span>
										</div>
										<h4><a href="properties_details/{{x.pk}}">{{x.title|slice:":35"}}....</a></h4>
										<p>
											<i class="fas fa-map-marker-alt me-1"></i> {{x.property_location|slice:":20"}}..</p>
									</div>
									<div class="property-agent">
										<div class="property-agent-img">
											<a href="#">
											<img src="{{x.assign_agents.photo.url}}" alt="">
											</a>
										</div>
										<div class="property-agent-info">
											<h6>{{x.assign_agents.name}}</h6>
											<p>{{x.assign_agents.position}}</p>
										</div>
										<div class="property-agent-whatsapp">
											<a href="https://wa.me/{{x.assign_agents.whatsapp_number}}">
												<i class="fab fa-whatsapp"></i></a>
										</div>
									</div>
									<div class="product-type">
										<a href="#" class="golden product-badge">{{x.rent}}</a>
										<a href="#" class="dark product-badge">{{x.property_type}}</a>
									</div>
									<div class="favorite-icon">
										<a href="javascript:void(0);"  class="favorite-button" data-product-id= "{{x.pk}}" >
											<i class="far fa-bookmark"></i></a>
										<a href="javascript:void(0);"  class="comprassion-button" data-product-id="{{x.pk}}">
											<i class="fas fa-sliders-h"></i></a>
									</div>
								</div>
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}
							<div class="col-lg-12 text-center">
								<a href="villa_properties" class="thm-btn mt-5">View All</a>
							</div>
						</div>
					</div>


				</div>
			</div>-->
	</div>
</section>
<!-- <section class="project-sec tp-space">
	<div class="container">
		<div class="heading justify-content-between align-items-center prohead mb-3">
			<div class="heading-content">
				<h3> Popular Area in Dubai</h3>
			</div>
			<div class="heading-icon">
				<a href="/popular_area/" class="thm-btn">Show all Project</a>
			</div>
		</div>
		<div class="row">
			{% for x in popular_area|slice:":3" %}
			<div class="col-lg-4 col-md-6 col-sm-6">
				<a href="/off_plan/{{x.name}}/">
					<div class="project-item">
						<img src="{{x.images.url}}" alt="">
						<div class="project-item-dtl">
							<h5>{{x.name}}</h5>
							<p>Price from <span>{{x.price_from}} AED</span></p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
			
		</div>
		
		<div class="row">
		    
			{% for x in popular_area|slice:"3:5" %}
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a href="/off_plan/{{x.name}}/">
					<div class="project-item">
						<img src="{{x.images.url}}" alt="">
						<div class="project-item-dtl">
							<h5>{{x.name}}</h5>
							<p>Price from <span>{{x.price_from}} AED</span></p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
			
		</div>
	</div>
</section> -->

<section class="project-sec tp-space" style=" background: none; ">
	<div class="container">
		<div class="heading justify-content-between align-items-center prohead mb-3">
			<div class="heading-content">
				<h3> Popular Area in Dubai</h3>
			</div>
			<div class="heading-icon">
				<a href="https://smrealestate.ae/popular_area/" class="thm-btn">Show all Project</a>
			</div>
		</div>
		<div class="row">
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<a href="https://smrealestate.ae/properties_via_area/palm-jumeirah/">
					<div class="project-item">
						<img src="{% static 'assets/images/palm-jumeirah.webp' %}" alt="Palm Jumeirah">
						<div class="project-item-dtl">
							<h5>Palm Jumeirah</h5>
							<p>Price from <span>1.9M AED</span></p>
						</div>
					</div>
				</a>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<a href="https://smrealestate.ae/properties_via_area/dubai-hills-estate/">
					<div class="project-item">
						<img src="{% static 'assets/images/dubai-hills-estate.webp' %}" alt="Dubai Hills Estate">
						<div class="project-item-dtl">
							<h5>Dubai Hills Estate</h5>
							<p>Price from <span>1.5M AED</span></p>
						</div>
					</div>
				</a>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<a href="https://smrealestate.ae/properties_via_area/downtown-dubai/">
					<div class="project-item">
						<img src="{% static 'assets/images/downtown.webp' %}" alt="Downtown Dubai">
						<div class="project-item-dtl">
							<h5>Downtown Dubai</h5>
							<p>Price from <span>1.4M AED</span></p>
						</div>
					</div>
				</a>
			</div>
			
			
		</div>
		
		<div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6">
				<a href="https://smrealestate.ae/properties_via_area/business-bay/">
					<div class="project-item">
						<img src="{% static 'assets/images/dubai-neighborhood-business-bay.webp' %}" alt="Business Bay">
						<div class="project-item-dtl">
							<h5>Business Bay</h5>
							<p>Price from <span>1M AED</span></p>
						</div>
					</div>
				</a>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a href="https://smrealestate.ae/properties_via_area/dubai-creek-harbour/">
					<div class="project-item">
						<img src="{% static 'assets/images/dubaicreek.png' %}" alt="Dubai Creek Harbour">
						<div class="project-item-dtl">
							<h5>Dubai Creek Harbour</h5>
							<p>Price from <span>1.7M AED</span></p>
						</div>
					</div>
				</a>
			</div>
			
			
		</div>
	</div>
</section>

<section class="partner-sec tp-space" style=" background: none; ">
  <div class="container">
    <div class="heading new-head">
      <div class="heading-icon">
        <img src="{% static 'assets/images/heading-icon.png' %}" alt="">
      </div>
      <div class="heading-content">
        <h3>Our Partners </h3>
      </div>
    </div>

    <div class="owl-carousel owl-theme" id="partner-slider">

      <!-- {% for x in partners %}
      {% if x.status == 1 %}

      <div class="item partner-innr">
        <img src="{{x.partners_images.url}}" alt="">
      </div>
      {% endif %}
      {% endfor %} -->
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-1.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-2.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-3.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-4.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-5.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-6.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-7.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-8.jpg' %}" alt="">
      </div>
	  <div class="item partner-innr">
        <img src="{% static 'assets/images/logo-9.jpg' %}" alt="">
      </div>
	  
      
    </div>
  </div>
  <!--<div class="text-center mt-5"><a href="allpartner/" class="thm-btn review-btn">See all </a></div>-->
</section>
<!--<section class="review-sec tp-space">-->
<!--  <div class="container">-->
<!--    <div class="heading new-head">-->
<!--      <div class="heading-icon">-->
<!--        <img src="{% static 'assets/images/heading-icon.png' %}" alt="">-->
<!--      </div>-->
<!--      <div class="heading-content">-->
<!--        <h3>Reviews</h3>-->
<!--        <p>Are saying about their experience of SM Super Moda</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row align-items-center">-->
<!--      <div class="col-lg-12">-->
<!--        <div class="review-rgt text-end mb-4">-->
<!--          <a href="/add_review/" class="thm-btn">Leave your review</a>-->
<!--          </div>-->
<!--          <div class="owl-carousel owl-theme" id="testimonial-slider">-->

<!--            {% for x in review %}-->

            
<!--            <div class="item review-slider-item">-->
<!--              <div class="review-slider-innr" >-->
<!--                <p class ="review-comment">“{{x.comment|truncatewords:50}}...”</p>-->
<!--                <div class="review-slider-innr-star">-->
<!--                  <p>-->
<!--                    {{ x.get_star_icons|safe}}-->
<!--                  </p>-->
<!--                  <h5>{{x.reviewer_name}}</h5>-->
<!--                </div>-->
<!--              </div>-->
<!--              <img src="{{x.photo.url}}" alt="">-->
<!--            </div>-->

<!--              {% endfor %}-->
            
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


    <section class="agent-list tp-space">
   <div class="container">
       <div class="heading new-head">
      <div class="heading-icon">
        <img src="{% static 'assets/images/heading-icon.png' %}" alt="">
      </div>
      <div class="heading-content">
        <h3>Our Team </h3>
      </div>
    </div>
      <div class="owl-theme owl-carousel" id="agent-hm-slide">
           {% for x in agents %}
         <div class="product-innr">
          <div class="product-img">
            <a href="/agents_details/{{x.pk}}/" class="text-uppercase"><img src="{{x.photo.url}}" alt=""></a>
          </div>
          <div class="product-content">
            <h4><a href="/agents_details/{{x.pk}}/" class="text-uppercase">{{x.name}}</a></h4>
            <p><span>{{x.position}}</span></p>
          </div>
          <!-- <div class="agent-info">
            <p>Experience: {{x.exprience}} years</p>
            <p>Languages: {{x.language}}</p>
          </div> -->
       	<div class="agetnt-whatsp" style=" bottom: 3%; ">
			   <a href="https://wa.me/1234567890" class="">
			   	<i class="fab fa-whatsapp"></i></a>
       	</div>
        </div>
         {% endfor %}
      </div>
   </div>
</section>




<!--<section class="blog tp-space">-->
<!--  <div class="container">-->
<!--    <div class="heading new-head">-->
<!--      <div class="heading-icon">-->
<!--        <img src="{% static 'assets/images/heading-icon.png' %}" alt="">-->
<!--      </div>-->
<!--      <div class="heading-content">-->
<!--        <h3>News & Blogs</h3>-->
<!--        <p>Unlocking Real Estates Secrets: Read your News and Blogs Today.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->

<!--      {% for x in blogs|slice:":3" %}-->
<!--      {% if x.status == 1 %}-->
      

<!--      <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--        <div class="product-innr blog-innr">-->
<!--          <div class="product-img">-->
<!--            <img src="{{x.photo.url}}" alt="">-->
<!--          </div>-->
<!--          <div class="product-content">-->
<!--            <h4><a href="javascript:void(0);">{{x.blog_name|slice:":30"}}...</a></h4>-->
<!--            <p class="testi-desc">{{x.desc|slice:":400"}}...............</p>-->
<!--            <p><span>{{x.date}}</span></p>-->
<!--          </div>-->
<!--          <div class="blog-btn">-->
<!--            <a href="blog_details/{{x.pk}}">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      {% endif %}-->
<!--      {% endfor %}-->
      
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="ofc-location tp-space pb-0">-->
<!--  <div class="container">-->
<!--    <div class="heading new-head">-->
<!--      <div class="heading-icon">-->
<!--        <img src="{% static 'assets/images/heading-icon.png' %}" alt="">-->
<!--      </div>-->
<!--      <div class="heading-content">-->
<!--        <h3>Visit Our office</h3>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class=" owl-carousel owl-theme" id="location-slider">-->


<!--      {% for x in office_images %}-->
<!--      {% if x.status == 1 %}-->
<!--      <div class="item location-innr">-->
<!--        <img src="{{x.office_images.url}}" alt="">-->
<!--      </div>-->
<!--      {% endif %}-->
<!--      {% endfor %}-->

      
<!--    </div>-->
<!--    <div class="text-center">-->
<!--          <a href="https://www.google.com/maps/d/viewer?mid=1bf4qwgGAMWSKS2N2GnGJRONqRTs&hl=en_US&ll=40.74393298737726%2C-73.967833&z=12" class="ofc-btn">-->
<!--            <i class="far fa-map-marker-alt me-2"></i> View On MAP-->
<!--          </a>-->
<!--        </div>-->
<!--  </div>-->
<!--</section>-->
<!--<section class="cta-sec tp-space">-->
<!--  <div class="container">-->
<!--    <div class="heading new-head">-->
<!--      <div class="heading-icon">-->
<!--        <img src="{% static 'assets/images/heading-icon.png' %}" alt="">-->
<!--      </div>-->
<!--      <div class="heading-content">-->
<!--        <h3>Advisory Experts</h3>-->
<!--        <p>Fill form below and our agent will contact you shortly</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <div class="cta-innr">-->
<!--          <form action="/contact/" method = "post" class="row" id="contact-form">-->
<!--            {% csrf_token %}-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">-->
<!--              <input type="text" name="name" class="form-control" placeholder="Enter Name">-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">-->
<!--              <input type="number" name="phone" class="form-control" placeholder="Enter Phone Number">-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">-->
<!--              <input type="email" name="email" class="form-control" placeholder="Enter Email Adderss">-->
<!--            </div>-->
<!--            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">-->
<!--              <button class="thm-btn w-75" type="submit">Send</button>-->
<!--            </div>-->
<!--          </form>-->
<!--          <div class="row justify-content-center">-->
<!--            <div class="col-lg-4">-->
<!--              <div class="product-social">-->
<!--                <a href="tel:+1234567890"><i class="far fa-phone fa-rotate-90"></i></a>-->
<!--                <a href="https://wa.me/+1234567890?text=Hello%20there!"><i class="fab fa-whatsapp"></i></a>-->
<!--                <a href="mailto:example@email.com"><i class="far fa-envelope"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->




<script>
  function selectTab(tabId) {
    // Unselect all
    document.querySelectorAll(".tab").forEach(btn => btn.classList.remove("active-tab"));

    // Select clicked one
    const input = document.getElementById(tabId);
    if (input) {
      input.checked = true;
      input.nextElementSibling.querySelector("button").classList.add("active-tab");
    }
  }
</script>






{% endblock body %}




