{% extends 'base.html' %}
{% load static %}
<title>{% block title %}abSM- Off Plan Detils{% endblock %}</title>
{% block body %}

<section class="space mn-h bkng">
			<div class="container">
				
				<div class="row">
					
					<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12">
						<div class="property-dtl">
							
							<!-- <div class="property-gllery">
								<div class="row g-2">
									<div class="col-lg-6 col-md-6 col-sm-6 frst-img">
										<img src="{{properties.images.url}}" alt="">
										{% for x in images|slice:":1" %}
										<img src="{{x.photo.url}}" alt="">
										{% endfor %}
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="owl-carousel owl-theme gallery-slider" id="gallery-slider">
											{% for x in images|slice:"1:" %}
											<div class="item">
												<img src="{{x.photo.url}}" alt="" class="w-100">
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div> -->
							 <div class="property-gllery">
                            <div class="row g-2">
                                <div class="col-lg-6 col-md-6 col-sm-6 frst-img">
                                    <img src="{{properties.display_images.url}}" alt="">
                                    {% for y in properties_images|slice:":1" %} 
                                    <img src="{{y.photo.url}}" alt="" class="w-100">
										{% endfor %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="owl-carousel owl-theme gallery-slider" id="gallery-slider">
                                        {% for y in properties_images|slice:"1:" %}
                                        <div class="item">
                                            <img src="{{y.photo.url}}" alt="" class="w-100">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
							
							<h4 class="property-nme">About The {{properties.name}}</h4>
							<div class="dble-brdr off-plan-abt">
								<ul class="off-plan-abt-list">
									<li>
										<h4>{{properties.starting_price}} AED</h4>
										<p>Starting Price from</p>
									</li>
									<li>
										<h4>{{properties.units}}</h4>
										<p>Available Units</p>
									</li>
									<li>
										<h4>{{properties.starting_area}}</h4>
										<p>Area from (sq. ft.)</p>
									</li>
									<li>
										<h4>{{properties.handover}}</h4>
										<p>Handover</p>
									</li>
								</ul>
							</div>
							
							<div class="property-desc mt-2">
								<h4 class="fz-20 fw-600 font-2 text-white mb-4">Description</h4>
								<p>{{properties.description}}</p>
								<h5 class="valid-price">*The price is valid for {{properties.price_valid}}</h5>
							</div>
							
							<div class="prprty-list-dtl p-10">
								<h4 class="fz-20 fw-600 font-2 text-white mb-4">Property Information</h4>
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<table class="table table-bordered text-secondary">
											<tbody>
												<tr>
													<td>Location</td>
													<td><a href="javascript:void(0);" class="primary-clr">{{properties.locations}}</a></td>
												</tr>
												<tr>
													<td>Status of Project</td>
													<td>{{properties.status_of_project}}</td>
												</tr>
												<tr>
													<td>Units</td>
													<td>{{properties.units}}</td>
												</tr>
												<tr>
													<td>Total Amount of Units</td>
													<td>{{properties.total_number_flat}}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-6 col-md-6">
										<table class="table table-bordered text-secondary">
											<tbody>
												<tr>
													<td>Developer</td>
													<td>
														<a href="javascript:void(0);" class="primary-clr">{{properties.developer}}</a>
													</td>
												</tr>
											
												<tr>
													<td>Area from</td>
													<td>{{properties.starting_area}}sq. ft.</td>
												</tr>
												<tr>
													<td>Payment Plan</td>
													<td>{{properties.payment_plan}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						
							
							<div class="property-desc mt-2">
								<h4 class="fz-20 fw-600 font-2 text-white mb-4">Location Description</h4>
								<p>{{properties.location_description}}</p>
							</div>
							
						</div>
					</div>
					<!-- <div class="col-xl-3 col-lg-4">
						<div class="profile-card sticky-top">
							<img src="assets/images/profile-img.png" alt="">
							<h5 class="text-white">Fatima Ezzahra Elhabib</h5>
							<p class="m-0">Property Consultant</p>
							<div class="prfl-card-btn">
								<a href="javascript:void"><i class="far fa-envelope me-2"></i>Email</a>
								<a href="javascript:void"><i class="far fa-phone me-2 fa-rotate-90"></i>Call</a>
								<a href="javascript:void"><i class="fab fa-whatsapp me-2"></i>Whatsapp</a>
							</div>
						</div>
					</div> -->
					
				</div>
				
			</div>
		</section>

{% endblock body %}