{% extends 'base.html' %}
{% load static %}
<title>{% block title %}SM- Properties{% endblock %}</title>
{% block body %}


 <section class="bannr-sec property-bnner">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="bannr-content text-center">
					<h1 class="text-white">Real estate Properties in Dubai</h1>
					<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="tp-space product-sec">
	<div class="container">
		{% if selected_type == 'sell' %}
		<h3 class="subhead text-center">Properties For Sale In {{location}}</h3>
		{% endif %}
        {% if selected_type == 'rent' %}
		<h3 class="subhead text-center">Properties For Rent In {{location}}</h3>
		{% endif %}
        {% if selected_type == 'offices' %}
		<h3 class="subhead text-center">Commercial Properties For Sale In {{location}}</h3>
		{% endif %}
        {%if properties%}
		<div class="row">
				{% for x in properties %}
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="product-innr">
						<div class="product-img">
							<a href="/properties_details/{{x.pk}}/"><img src="{{x.display_images.url}}" alt=""></a>
						</div>
						<div class="product-content">
							<h3 class="product-price"><span>{{x.rate}}</span> <span>AED</span></h3>
							<div class="product-amenties">
								<span>
									<i class="fal fa-bed me-1"></i> {{x.bedroom}}</span>
								<span>
									<i class="fal fa-bath me-1"></i> {{x.bathroom}}</span>
								<span>
									<i class="fal fa-ruler-triangle me-1"></i> {{x.total_area}} Sq. Ft.</span>
							</div>
							<h4><a href="/properties_details/{{x.pk}}/">{{x.title|slice:":35"}} .....</a></h4>
							<p>
								<i class="fas fa-map-marker-alt me-1">{{x.property_location}}</i>
							</p>
						</div>
						<div class="property-agent">
							<div class="property-agent-img">
								<a href="#">
								<img src="{{x.assign_agents.photo.url}}" alt="">
								</a>
							</div>
							<div class="property-agent-info">
								<h6>{{x.assign_agents.name}}</h6>
								<p>{{x.assign_agents.position}}</p>
							</div>
							<div class="property-agent-whatsapp">
								<a href="https://wa.me/{{x.assign_agents.whatsapp_number}}">
									<i class="fab fa-whatsapp"></i></a>
							</div>
						</div>
						<div class="product-type">
							<a href="#" class="golden product-badge">{{x.rent}}</a>
							<a href="#" class="dark product-badge">{{x.property_type}}</a>
						</div>
						<div class="favorite-icon">
							<a href="javascript:void(0);"  class="favorite-button golden " data-product-id= "{{x.pk}}" >
								<i class="far fa-bookmark"></i></a>
							<a href="javascript:void(0);"  class="comprassion-button dark" data-product-id="{{x.pk}}">
								<i class="fas fa-sliders-h"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
            {% else %}
            <h3 class="subhead text-center">No property found for {{selected_type}} in  price range {{budget_range}} at {{location}} </h3>
            {% endif %}
			<!--<div class="col-xl-3 col-lg-4">
			<div class="profile-card sticky-top mt-3">
			<img src="{% static 'assets/images/profile-img.png' %}" alt="">
			<h5 class="text-white">Fatima Ezzahra Elhabib</h5>
			<p class="m-0">Property Consultant</p>
			<div class="prfl-card-btn">
			<a href="mailto:example@email.com"><i class="far fa-envelope me-2"></i>Email</a>
			<a href="tel:+1234567890"><i class="far fa-phone me-2 fa-rotate-90"></i>Call</a>
			<a href="https://wa.me/+1234567890?text=Hello%20there!"><i class="fab fa-whatsapp me-2"></i>Whatsapp</a>
			</div>
			</div>
			</div>-->
			<div class="col-lg-12 text-center">
				<div class="cstm-pagination ">
					<ul class="pagination">
						{% if properties.has_previous %}
						<li class="page-item prev"><a class="page-link" href="?page={{ properties.previous_page_number }}">Previous</a></li>
						{% endif %}
						<li class="page-item"><a class="page-link active" href="javascript:void(0);">{{ properties.number }}</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">of</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">{{ properties.paginator.num_pages }}</a></li>
						{% if properties.has_next %}
						<li class="page-item next"><a class="page-link" href="?page={{ properties.next_page_number }}">Next</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta-sec tp-space">
	<div class="container">
		<div class="heading new-head">
			<div class="heading-icon">
				<img src="{% static 'assets/images/heading-icon.png' %}" alt="">
			</div>
			<div class="heading-content">
				<h3>Advisory Experts</h3>
				<p>Fill form below and our agent will contact you shortly</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="cta-innr">
					<form action="/contact/", method = "post" class="row" id="contact-form">
						{% csrf_token %}
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
							<input type="text" name="name" class="form-control" placeholder="Enter Name">
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
							<input type="number" name="phone" class="form-control" placeholder="Enter Phone Number">
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
							<input type="email" name="email" class="form-control" placeholder="Enter Email Adderss">
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-5">
							<button class="thm-btn w-75" type="submit">Send</button>
						</div>
					</form>
					<div class="row justify-content-center">
						<div class="col-lg-4">
							<div class="product-social">
								<a href="tel:+1234567890">
									<i class="far fa-phone fa-rotate-90"></i></a>
								<a href="https://wa.me/+1234567890?text=Hello%20there!">
									<i class="fab fa-whatsapp"></i></a>
								<a href="mailto:example@email.com">
									<i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>		
<script>
	 $(document).ready(function() {
	$('.fav').onclick(function(){
		alert('helllo')
	})})
</script> -->

		{% endblock body %}