{% extends 'dashboard/base.html' %}
{% load static %}
<title>{% block title %}SM- Add-Blog{% endblock %}</title>
{% block body %}
  


    <div class="page-body">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-6">
              <h3>Blog Management</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>
                <li class="breadcrumb-item">Blog Management</li>
                <li class="breadcrumb-item active">Add Blog</li>
              </ol>
            </div>
            <div class="col-sm-6">
              <!-- Bookmark Start-->
             <!--  <div class="bookmark">
                <ul>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                    <form class="form-inline search-form">
                      <div class="form-group form-control-search">
                        <input type="text" placeholder="Search..">
                      </div>
                    </form>
                  </li>
                </ul>
              </div> -->
              <!-- Bookmark Ends-->
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header pb-0">
                <h5>Blog Management</h5>
              </div>
              <div class="card-body">
                <form class="needs-validation" method="post" novalidate="" enctype="multipart/form-data">
                  {% csrf_token %}

                  
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label class="form-label" for="id_name">Blog Name</label>
                      <input class="form-control" type="text"  value= "{{ object.blog_name }}" name="blog_name" maxlength="155" required id="id_name">
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-md-6">
                      <label class="form-label" for="id_whatsapp_number">Date</label>
                      <input class="form-control" type="date"  value= "{{ object.date }}" name="date" required id="id_whatsapp_number">
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="img-input">Blog Image</label>
                      <input class="form-control" type="file" name="photo"  id="img-input">
                      <img class="img-100" id="display-img"/>
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-md-6">
                      <label class="form-label" for="id_">Status</label>
                      <select name = "status"   class="form-select">
                        <option value="1"  >Active</option>
                        <option value="0" >Inactive</option>
                        
                      </select>
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-md-12">
                      <label class="form-label" for="id_desc">Description</label>
                      <textarea cols="30" rows="10" class="form-control" name="desc" required id="id_desc">{{ object.desc }}</textarea>
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                     {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} mt-3">
                        {{ message }}
                        </div>
                    {% endfor %}
                    
                    <div class="mb-3">
                    <div class="form-check">
                      <div class="checkbox p-0">
                        <input class="form-check-input" id="invalidCheck" type="checkbox" required="">
                        <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                      </div>
                      <div class="invalid-feedback">You must agree before submitting.</div>
                      <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid Ends-->
    </div>




   


{% endblock body %}