{% extends 'dashboard/base.html' %}
{% load static %}
<title>{% block title %}SM- Agents-Details{% endblock %}</title>
{% block body %}
  


    <div class="page-body">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-6">
              <h3>Agents Management</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>
                <li class="breadcrumb-item">Agents Management</li>
                <li class="breadcrumb-item active">Add Agents</li>
              </ol>
            </div>
            <div class="col-sm-6">
              <!-- Bookmark Start-->
              <!-- <div class="bookmark">
                <ul>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                  <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                    <form class="form-inline search-form">
                      <div class="form-group form-control-search">
                        <input type="text" placeholder="Search..">
                      </div>
                    </form>
                  </li>
                </ul>
              </div> -->
              <!-- Bookmark Ends-->
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header pb-0">
                <h5>Agents Details </h5>
              </div>
              <div class="card-body">
                <form class="needs-validation" method="post" novalidate=""   enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label class="form-label" for="id_name">Name</label>
                      <input class="form-control" type="text" value= "{{ object.name }}" disabled  name="name" maxlength="155" required id="id_name">
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="id_specialization">Team</label>
                      <select name = "team"  class="form-select" disabled required id="id_specialization">
                        <option value="" selected>---------</option>
                        <option {% if object.team == "Management" %} selected='selected' {% endif %} value='Management'>Management</option>
                        <option {% if object.team == "Agents" %} selected='selected' {% endif %} value='Agents'>Agents</option>                 
                    </select>
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="id_position">Position</label>
                      <input class="form-control" type="text" value= "{{ object.position }}" disabled name="position" maxlength="155" required id="id_position">
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-md-6">
                      <label class="form-label" for="id_exprience">Exprience</label>
                      <input class="form-control" type="number" value= "{{ object.exprience }}" disabled name="exprience" maxlength="155" required id="id_exprience">
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="id_specialization">Specialization</label>
                      <input class="form-control" type="text" value= "{{ object.specialization }}" disabled name="specialization" maxlength="155"  required id="id_specialization">
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-md-6">
                      <label class="form-label" for="id_language">Language</label>
                      <input class="form-control" type="text" value= "{{ object.language }}" disabled name="language" maxlength="155" required id="id_language">
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    

                    <div class="col-md-6">
                      <label class="form-label" for="id_phone">Phone</label>
                      <input class="form-control" type="number" value= "{{ object.phone }}" disabled name="phone"  required id="id_phone">
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="id_email">Email</label>
                      <input class="form-control" type="text" value= "{{ object.email }}" disabled name="email" maxlength="155" required id="id_email">
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-md-6">
                      <label class="form-label" for="id_whatsapp_number">Whatsapp number</label>
                      <input class="form-control" type="number" value= "{{ object.whatsapp_number }}" disabled name="whatsapp_number" required id="id_whatsapp_number">
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="id_photo">Agent Image</label>
                      <input class="form-control" type="file"  name="photo" disabled  id="id_photo">
                      {% if object.photo %}
                      <img class="form-control" src="{{object.photo.url}}" alt="{{ object.photo }} Image"><br>
                  {% endif %}
                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-md-12">
                      <label class="form-label" for="id_desc">Description</label>
                      <textarea cols="30" rows="10" class="form-control"  name="desc" disabled required id="id_desc">{{ object.desc}}</textarea>
                      <div class="valid-feedback">Looks good!</div>
                    </div>


                    
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid Ends-->
    </div>




   


{% endblock body %}