{% extends 'dashboard/base.html' %}
{% load static %}
<title>{% block title %}SM- Blog-List{% endblock %}</title>
{% block body %}
  
<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Blogs Management</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>
            <li class="breadcrumb-item">Blogs Management</li>
            <li class="breadcrumb-item active">Blogs Table</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <!-- <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div> -->
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <!-- Base styles-->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Blog List</h5>
          <div class="card-body">
            <div class="table-responsive">
              <table class="display" id="example-style-1">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Blog Image</th>
                    <th>Blog Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for x in blogs %}
                  <tr>
                    <td>{{x.pk}}</td>
                    <td><img class="img-50" src="{{x.photo.url}}" alt=""></td>
                    <td>{{x.blog_name}}</td>
                    <td>{{x.desc}}</td>
                    <td>{{x.date}}</td>
                    <td>
                      <p>{% if x.status == 0 %}   
                        <a href="javascript:void(0);" class="btn btn-primary">
                          InActive
                        </a>                                               
                      {% else %}                       
                      <a href="javascript:void(0);" class="btn btn-primary-light">
                        Active
                      </a>                     
                        {% endif %}
                        </p>
                    </td>
                    <td>
                      <a href="/dashboard/blogdelete/{{x.pk}}/"><i class="fa fa-trash"></i></a>
                      <a href="/dashboard/blogsdetails/{{x.pk}}/"><i class="fa fa-eye"></i></a>
                      <a href="/dashboard/blogupdate/{{x.pk}}/"><i class="fa fa-pencil"></i></a>
                    </td>
                    
                  </tr>

                  {% endfor %}

                  
                </tbody>
               
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

{% endblock body %}