{% extends 'dashboard/base.html' %}
{% load static %}
<title>{% block title %}SM- CMS-Update{% endblock %}</title>
{% block body %}



<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>CMS Management</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>
            <li class="breadcrumb-item">Cms Management</li>
            <li class="breadcrumb-item active">Edit Cms</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <!-- <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div> -->
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Edit Cms</h5>
          </div>
          <div class="card-body">
            <form class="needs-validation" method="post" novalidate="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row g-3">
                
                <div class="col-md-6">
                  <label class="form-label" for="validationCustom02">Cms Page Name</label>
                  <input class="form-control" value="{{object.cms_page_name}}" name="cms_page_name" id="validationCustom02" type="text" required="">
                  <div class="invalid-feedback">Add Cms Page Name</div>
                </div>

                <div class="col-md-6">
                  <label class="form-label" for="id_">Status</label>
                  <select name = "status"   class="form-select">
                    
                    <option {% if object.status == 1 %} selected='selected' {% endif %} value='1'>Active</option>
                    <option {% if object.status == 0 %}selected='selected' {% endif %} value='0'>Inactive</option>
                    
                  </select>
                  <div class="valid-feedback">Looks good!</div>
                </div>

                 <div class="col-md-12 mb-3">
                  <label class="form-label" for="validationCustomUsername">Description</label>
                   <textarea id="editor1" name="description" rows="5" class="form-control border">{{ object.description}}</textarea>
                </div>
                <div class="mb-3">
                <div class="form-check">
                  <div class="checkbox p-0">
                    <input class="form-check-input" id="invalidCheck" type="checkbox" required="">
                    <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                  </div>
                  <div class="invalid-feedback">You must agree before submitting.</div>
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>









  
   


{% endblock body %}