{% extends 'dashboard/base.html' %}
{% load static %}
<title>{% block title %}SM-  Flat Details{% endblock %}</title>
{% block body %}


<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Flat Management</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>
            <li class="breadcrumb-item">Flat Details Management</li>
            <li class="breadcrumb-item active">Flat Details Properties</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <!-- <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div> -->
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Flat Details Management</h5>
          </div>
          <div class="card-body">
            <form class="needs-validation" action="" method="post" novalidate="" enctype="multipart/form-data">
              
              {% csrf_token %}
             
              <div class="row g-3">               
                <div class="col-md-6">
                  <label class="form-label" for="id_name">Flat Name</label>
                  <input class="form-control" type="text"  name="flat_type" value="{{object.flat_type}}" disabled maxlength="155" placeholder="please write like '1 BHK' " required id="id_name">
                  <div class="valid-feedback">Looks good!</div>
                </div>
            
                

                <div class="col-md-6">
                  <label class="form-label" for="id_name">starting_price_flat</label>
                  <input class="form-control" type="text"  name="starting_price_flat" value="{{object.starting_price_flat}}" disabled maxlength="155" required id="id_name">
                  <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="col-md-6">
                  <label class="form-label" for="id_name">area</label>
                  <input class="form-control" type="text"  name="total_area" value="{{object.total_area}}" disabled maxlength="155" required id="id_name">
                  <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="col-md-6">
                  <label class="form-label" for="id_name">Category</label>
                  <input class="form-control" type="text"  name="category" value="{{object.category}}" disabled maxlength="155" required id="id_name">
                  <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="col-md-6">
                  <label class="form-label" for="id_name">Unit Type</label>
                  <input class="form-control" type="text"  name="unit_type" value="{{object.unit_type}}" disabled maxlength="155" required id="id_name">
                  <div class="valid-feedback">Looks good!</div>
                </div>

                
                
                <div class="col-md-6">
                    <label class="form-label" for="id_">Status</label>
                    <select name = "status" disabled   class="form-select">
                    <option {% if object.status == 1 %} selected='selected' {% endif %} value='1'>Active</option>
                    <option {% if object.status == 0 %}selected='selected' {% endif %} value='0'>Inactive</option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                 </div>

                <div class="col-md-6">
                    <label class="form-label" for="id_">Assign Off Plane</label>
                    <select name = "off_plane_id" disabled  class="form-select">
                      {% for x in off_plan %}
                      <option {% if object.off_plane_id == x.pk %} selected='selected'  {% endif %} value="{{x.pk}}">{{x.name}}[{{x.pk}}]</option>
                      {% endfor %}
                      
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                  </div>

                

                
                <div class="col-md-6">
                  <label class="form-label" for="img-input">Flat Image Model</label>
                  <input class="form-control" type="file" name="flat_images_models"  disabled  id="img-input">
                  {% if object.photo %}
                  <img class="form-control img-100" src="{{object.flat_images_models.url}}" alt="{{ object.flat_images_models }} Image"><br>
                  {% endif %}
                  <div class="valid-feedback">Looks good!</div>
                </div>

                


                <div class="mb-3">
                <div class="form-check">
                  <div class="checkbox p-0">
                    <input class="form-check-input" id="invalidCheck" type="checkbox" required="">
                    <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                  </div> 
                  <div class="invalid-feedback">You must agree before submitting.</div>
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

{% endblock body %}






















