{% extends 'dashboard/base.html' %}

{% load static %}

{% load form_tags %}

<title>{% block title %}SM- Off-plane-Update-Properties{% endblock %}</title>

{% block body %}

<div class="page-body">

   <div class="container-fluid">

      <div class="page-header">

         <div class="row">

            <div class="col-sm-6">

               <h3>Off-plane-Properties Management</h3>

               <ol class="breadcrumb">

                  <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>

                  <li class="breadcrumb-item">Off-plane-Properties Management</li>

                  <li class="breadcrumb-item active">Off-plane-Update-Properties</li>

               </ol>

            </div>

            <div class="col-sm-6">

               <!-- Bookmark Start-->

               <!-- <div class="bookmark">

                  <ul>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>

                  

                    <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>

                  

                      <form class="form-inline search-form">

                  

                        <div class="form-group form-control-search">

                  

                          <input type="text" placeholder="Search..">

                  

                        </div>

                  

                      </form>

                  

                    </li>

                  

                  </ul>

                  

                  </div> -->

               <!-- Bookmark Ends-->

            </div>

         </div>

      </div>

   </div>

   <!-- Container-fluid starts-->

   <div class="container-fluid">

      <div class="row">

         <div class="col-sm-12">

            <div class="card">

               <div class="card-header pb-0">

                  <h5>Off-plane-Properties Management</h5>

               </div>

               <div class="card-body">

                  <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                     {% csrf_token %}
                     <div class="row g-3">
                   
                       <div class="col-md-6">
                         <label class="form-label" for="{{ form.name.id_for_label }}">Name</label>
                         {{ form.name|add_class:"form-control" }}
                         <div class="valid-feedback">Looks good!</div>
                       </div>
                   
                       <div class="col-md-6">
                         <label class="form-label" for="{{ form.locations.id_for_label }}">Property Location</label>
                         {{ form.locations|add_class:"form-control" }}
                         <div class="valid-feedback">Looks good!</div>
                       </div>
                   
                       <div class="col-md-6">
                        <label class="form-label" for="{{ form.starting_price.id_for_label }}">Starting Price</label>
                        {{ form.starting_price|add_class:"form-control" }}
                        {% for error in form.starting_price.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.starting_area.id_for_label }}">Starting Area</label>
                        {{ form.starting_area|add_class:"form-control" }}
                        {% for error in form.starting_area.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.handover.id_for_label }}">Handover</label>
                        {{ form.handover|add_class:"form-control" }}
                        {% for error in form.handover.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.price_valid.id_for_label }}">Price Valid Year</label>
                        {{ form.price_valid|add_class:"form-control" }}
                        {% for error in form.price_valid.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.total_number_flat.id_for_label }}">Total Number Flat</label>
                        {{ form.total_number_flat|add_class:"form-control" }}
                        {% for error in form.total_number_flat.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.status_of_project.id_for_label }}">Status of Project</label>
                        {{ form.status_of_project|add_class:"form-control" }}
                        {% for error in form.status_of_project.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.units.id_for_label }}">Units</label>
                        {{ form.units|add_class:"form-control" }}
                        {% for error in form.units.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.developer.id_for_label }}">Developer</label>
                        {{ form.developer|add_class:"form-control" }}
                        {% for error in form.developer.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.payment_plan.id_for_label }}">Payment Plan</label>
                        {{ form.payment_plan|add_class:"form-control" }}
                        {% for error in form.payment_plan.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                      <div class="col-md-6">
                        <label class="form-label" for="{{ form.status.id_for_label }}">Status</label>
                        {{ form.status|add_class:"form-select" }}
                        {% for error in form.status.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      
                   
                       <div class="col-md-6">
                         <label class="form-label">Property Type</label>
                         {% for checkbox in form.property_type %}
                           <div class="form-check">
                             {{ checkbox.tag }}
                             <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                               {{ checkbox.choice_label }}
                             </label>
                           </div>
                         {% endfor %}
                         {% for error in form.property_type.errors %}
                           <div class="text-danger">{{ error }}</div>
                         {% endfor %}
                       </div>
                   
                       <div class="col-md-6">
                         <label class="form-label" for="id_display_images">Display Image</label>
                         {{ form.display_images }}
                         {% if object.display_images %}
                           <img class="form-control img-100 mt-2" src="{{ object.display_images.url }}" alt="Current image">
                         {% endif %}
                       </div>
                   
                       <div class="col-md-6">
                         <label class="form-label" for="id_photo">Property Images</label>
                         <input class="form-control" type="file" name="photo" multiple id="imageInput">
                         {% for x in pro_images %}
                           <div class="d-flex mt-2">
                              OLD Images:
                             <img class="form-control img-100" src="{{ x.photo.url }}" alt="{{ x.photo }}">
                           </div>
                         {% endfor %}
                         New Images:
                         <div class="d-flex" id ="imagePreview"></div>
                       </div>
                   
                       <div class="col-md-12">
                         <label class="form-label" for="{{ form.description.id_for_label }}">Description</label>
                         {{ form.description |add_class:"form-select" }}
                         {% for error in form.description.errors %}
                           <div class="text-danger">{{ error }}</div>
                         {% endfor %}
                       </div>
                   
                       <div class="col-md-12">
                         <label class="form-label" for="{{ form.location_description.id_for_label }}">Location Description</label>
                         {{ form.location_description |add_class:"form-select" }}
                         {% for error in form.location_description.errors %}
                           <div class="text-danger">{{ error }}</div>
                         {% endfor %}
                       </div>
                   
                       <div class="col-md-12">
                         <div class="form-check">
                           <input class="form-check-input" id="invalidCheck" type="checkbox" required>
                           <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                           <div class="invalid-feedback">You must agree before submitting.</div>
                         </div>
                       </div>
                   
                       <div class="col-md-12">
                         <button class="btn btn-primary" type="submit">Submit form</button>
                       </div>
                     </div>
                   </form>
                   

               </div>

            </div>

         </div>

      </div>

   </div>

   <!-- Container-fluid Ends-->

</div>

{% endblock body %}