{% extends 'dashboard/base.html' %}

{% load static %}

<title>{% block title %}SM- Off-plane-Update-Properties{% endblock %}</title>

{% block body %}

<div class="page-body">

   <div class="container-fluid">

      <div class="page-header">

         <div class="row">

            <div class="col-sm-6">

               <h3>Off-plane-Properties Management</h3>

               <ol class="breadcrumb">

                  <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>

                  <li class="breadcrumb-item">Off-plane-Properties Management</li>

                  <li class="breadcrumb-item active">Off-plane-Update-Properties</li>

               </ol>

            </div>

            <div class="col-sm-6">

               <!-- Bookmark Start-->

               <!-- <div class="bookmark">

                  <ul>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>

                  

                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>

                  

                    <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>

                  

                      <form class="form-inline search-form">

                  

                        <div class="form-group form-control-search">

                  

                          <input type="text" placeholder="Search..">

                  

                        </div>

                  

                      </form>

                  

                    </li>

                  

                  </ul>

                  

                  </div> -->

               <!-- Bookmark Ends-->

            </div>

         </div>

      </div>

   </div>

   <!-- Container-fluid starts-->

   <div class="container-fluid">

      <div class="row">

         <div class="col-sm-12">

            <div class="card">

               <div class="card-header pb-0">

                  <h5>Off-plane-Properties Management</h5>

               </div>

               <div class="card-body">

                  <form class="needs-validation" action="" method="post" novalidate="" enctype="multipart/form-data">

                     {% csrf_token %}

                     <div class="row g-3">

                        <div class="col-md-6">

                           <label class="form-label" for="id_name">Name</label>

                           <input class="form-control" type="text" value="{{object.name}}"  name="name" maxlength="155" required id="id_name">

                           <div class="valid-feedback">Looks good!</div>

                        </div>

                        <div class="col-md-6">

                           <label class="form-label" for="id_position">property_location</label>

                           <input class="form-control" type="text" value="{{object.locations}}"  name="locations" maxlength="155" required id="id_position">

                           <div class="valid-feedback">Looks good!</div>

                        </div>



                        <div class="col-md-6">

                          <label class="form-label" for="id_name">starting_price</label>

                          <input class="form-control" type="text" value="{{object.starting_price}}"   name="starting_price" maxlength="155" required id="id_name">

                          <div class="valid-feedback">Looks good!</div>

                        </div>

        

                        <div class="col-md-6">

                          <label class="form-label" for="id_name">starting_area</label>

                          <input class="form-control" type="text" value="{{object.starting_area}}"   name="starting_area" maxlength="155" required id="id_name">

                          <div class="valid-feedback">Looks good!</div>

                        </div>

        

                        <div class="col-md-6">

                          <label class="form-label" for="id_name">handover</label>

                          <input class="form-control" type="text" value="{{object.handover}}"   name="handover" maxlength="155" required id="id_name">

                          <div class="valid-feedback">Looks good!</div>

                        </div>

        

                        <div class="col-md-6">

                          <label class="form-label" for="id_name">price valid year</label>

                          <input class="form-control" type="text" value="{{object.price_valid}}"   name="price_valid" maxlength="155" required id="id_name">

                          <div class="valid-feedback">Looks good!</div>

                        </div>

        

                        <div class="col-md-6">

                          <label class="form-label" for="id_name">total number flat</label>

                          <input class="form-control" type="text" value="{{object.total_number_flat}}"   name="total_number_flat" maxlength="155" required id="id_name">

                          <div class="valid-feedback">Looks good!</div>

                        </div>



                        <div class="col-md-6">

                           <label class="form-label" for="id_name">status_of_project</label>

                           <input class="form-control" type="text" value="{{object.status_of_project}}"  name="status_of_project" maxlength="155" required id="id_name">

                           <div class="valid-feedback">Looks good!</div>

                         </div>

         

                         <div class="col-md-6">

                           <label class="form-label" for="id_name">units</label>

                           <input class="form-control" type="text" value="{{object.units}}"  name="units" maxlength="155" required id="id_name">

                           <div class="valid-feedback">Looks good!</div>

                         </div>

         

                         <div class="col-md-6">

                           <label class="form-label" for="id_name">developer</label>

                           <input class="form-control" type="text" value="{{object.developer}}"  name="developer" maxlength="155" required id="id_name">

                           <div class="valid-feedback">Looks good!</div>

                         </div>

         

                         <div class="col-md-6">

                           <label class="form-label" for="id_name">payment_plan</label>

                           <input class="form-control" type="text" value="{{object.payment_plan}}"  name="payment_plan" maxlength="155" required id="id_name">

                           <div class="valid-feedback">Looks good!</div>

                         </div>



                        <div class="col-md-6">

                           <label class="form-label" for="id_">Status</label>

                           <select name = "status"   class="form-select">

                           <option {% if object.status == 1 %} selected='selected' {% endif %} value='1'>Active</option>

                           <option {% if object.status == 0 %}selected='selected' {% endif %} value='0'>Inactive</option>

                           </select>

                           <div class="valid-feedback">Looks good!</div>

                        </div>

                        <div class="col-md-6">
                           <label class="form-label" for="id_specialization">property_type</label>
                           <select name = "property_type"  class="form-select"  required id="id_specialization">
                             
                             <option {% if object.property_type == "Apartments" %} selected='selected' {% endif %} value='Apartments'>Apartments</option>                  
                             <option {% if object.property_type == "villa" %} selected='selected' {% endif %} value='villa'>villa</option>                  
                             <option {% if object.property_type == "Penthouses" %} selected='selected' {% endif %} value='Penthouses'>Penthouses</option>
                             <option {% if object.property_type == "Townhouses" %} selected='selected' {% endif %} value='Townhouses'>Townhouses</option>
                             <option {% if object.property_type == "Duplexes" %} selected='selected' {% endif %} value='Duplexes'>Duplexes</option>                  
                             <option {% if object.property_type == "Plots" %} selected='selected' {% endif %} value='Plots'>Plots</option>
                             <option {% if object.property_type == "Offices" %} selected='selected' {% endif %} value='Offices'>Offices</option>
                           </select>
                           <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="col-md-6">
                           <label class="form-label" for="id_photo">dispaly Image</label>
                           <input class="form-control" type="file" name="display_images"  id="id_photo">
                           {% if object.display_images %}
                           <img class="form-control img-100" src="{{ object.display_images.url }}" alt="{{ object.display_images }} Image"><br>
                           {% endif %}
                           <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="col-md-6">
                           <label class="form-label" for="id_photo">Properties Image</label>
                           <input class="form-control" type="file" name="photo" multiple  id="imageInput">
                           {% for x in pro_images %}
                           <div class="d-flex" id ="imagePreview">
                           <img  class="form-control   img-100"   src="{{x.photo.url}}" alt="{{ x.photo }}"></div>
                           {% endfor %}
                           <div class="valid-feedback">Looks good!</div>
                         </div>



                        <div class="col-md-12">

                          <label class="form-label" for="id_desc">Description</label>

                          <textarea cols="30" rows="10" class="form-control"  name="description" required id="id_desc">{{object.description}}</textarea>

                          <div class="valid-feedback">Looks good!</div>

                        </div>

        

                        <div class="col-md-12">

                          <label class="form-label" for="id_desc">Location Description</label>

                          <textarea cols="30" rows="10" class="form-control"  name="location_description" required id="id_desc">{{object.location_description}}</textarea>

                          <div class="valid-feedback">Looks good!</div>

                        </div>



                        <div class="mb-3">

                           <div class="form-check">

                              <div class="checkbox p-0">

                                 <input class="form-check-input" id="invalidCheck" type="checkbox" required="">

                                 <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>

                              </div>

                              <div class="invalid-feedback">You must agree before submitting.</div>

                              <button class="btn btn-primary" type="submit">Submit form</button>

                           </div>

                        </div>

                     </div>

                  </form>

               </div>

            </div>

         </div>

      </div>

   </div>

   <!-- Container-fluid Ends-->

</div>

{% endblock body %}