{% extends 'dashboard/base.html' %}
{% load static %}
<title>{% block title %}SM- Review-List{% endblock %}</title>
{% block body %}
  
<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Review Management</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/index/">Home</a></li>
            <li class="breadcrumb-item">Review Management</li>
            <li class="breadcrumb-item">Review List</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <!-- <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div> -->
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <!-- Base styles-->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Review List</h5>
          <div class="card-body">
            <div class="table-responsive">
              <table class="display" id="example-style-1">
                <thead>
                  <tr>
                    <th>Review Image</th>
                    <th>Reviewer Name</th>
                    <th>Reviewer Email</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Created Date </th>
                    
                    
                    
                  </tr>
                </thead>
                <tbody>

                  {% for x in reviews %}
                  <tr>
                    <td><img class="img-50" src="{{x.photo.url}}" alt=""></td>
                    <td>{{x.reviewer_name}}</td>
                    <td>{{x.reviewer_email}}</td>
                    <td>{{x.rating}}</td>
                    <td>{{x.comment|slice:":40"}}...</td>
                    <td>{{x.created_at}}</td>
                    
                    
                    
                  </tr>

                  {% endfor %}

                  
                </tbody>
               
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

{% endblock body %}